In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.Connection('C:\\Users\\Aminou Ahmad\\Git\\oreilly_getting_started_with_sql\\weather_stations.db')

In [3]:
data = pd.read_sql('select * from STATION_DATA', con)

In [4]:
data.head()

,station_number,report_code,year,month,day,dew_point,station_pressure,visibility,wind_speed,temperature,precipitation,snow_depth,fog,rain,hail,thunder,tornado
0,143080,34DDA7,2002,12,21,33.8,987.4,3.4,0.2,36.0,0.00,NaN,1,1,1,1,1
1,766440,39537B,1998,10,1,72.7,1014.6,5.9,6.7,83.3,0.00,NaN,0,0,0,0,0
2,176010,C3C6D5,2001,5,18,55.7,NaN,7.3,4.3,69.1,0.00,NaN,0,0,0,0,0
3,125600,145150,2007,10,14,33.0,NaN,6.9,2.5,39.7,0.00,NaN,0,0,0,0,0
4,470160,EF616A,1967,7,29,65.6,NaN,9.2,1.2,72.4,0.04,NaN,0,0,0,0,0

In [5]:
data.columns

Index(['station_number', 'report_code', 'year', 'month', 'day', 'dew_point',
       'station_pressure', 'visibility', 'wind_speed', 'temperature',
       'precipitation', 'snow_depth', 'fog', 'rain', 'hail', 'thunder',
       'tornado'],
      dtype='object')

In [6]:
data.isnull().sum()

station_number          0
report_code             0
year                    0
month                   0
day                     0
dew_point            1248
station_pressure    17796
visibility           2897
wind_speed            371
temperature             0
precipitation        2563
snow_depth          26448
fog                     0
rain                    0
hail                    0
thunder                 0
tornado                 0
dtype: int64

In [7]:
to_drop = ['snow_depth', 'year', 'station_pressure', 'report_code']
data.drop(to_drop, axis=1, inplace=True)

In [8]:
data.fillna(method='bfill', inplace=True)

In [9]:
import scipy
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [10]:
target = np.array(data['rain'])

In [11]:
data.drop('rain', axis=1, inplace=True)

In [12]:
exp = data.head(2)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=0)

In [14]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [15]:
y_pred = knn.predict(X_test)
print("Test set score: {:.2f}".format(np.mean(y_pred == y_test)))

Test set score: 0.99

In [17]:
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set score: 0.99

In [22]:
tg = np.array(map(lambda x: 'rain' if x == 1 else 'No rain', target))

In [25]:
type(tg)

numpy.ndarray